<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./vendor/autoload.php"
    colors="true"
    testdox="true"
>
    <testsuites>
        <testsuite name="DependencyBreakingTechniques">
            <directory suffix="after.php">DependencyBreakingTechniques/*</directory>
            <directory suffix="runtime.php">DependencyBreakingTechniques/*</directory>
        </testsuite>
    </testsuites>
</phpunit>
